.slides {
  display: flex;
  overflow-x: auto;
  margin: 0 -3.2rem 1.2rem;
  padding: 0 3.2rem 2.8rem;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.slides::-webkit-scrollbar {
  display: none;
}

.arrows {
  display: flex;
  justify-content: space-between;
}

.arrow {
  padding: 1.2rem 0;
  border: none;
  background: none;
  cursor: pointer;
  color: var(--c-gray-light);
}

.arrowLarge:hover {
  color: var(--c-gray-medium-dark);
}

.arrowSmall {
    display: none;
    color: var(--c-gray-medium-dark);
}

.arrowSmall:hover {
    color: var(--c-gray-medium-light);
}

@media (max-width: 480px) {
    .arrowLarge {
        display: none;
    }

    .arrowSmall {
        display: block;
    }
}