:root {
  --c-black: #292e3d;
  --c-gray-dark: #525c7a;
  --c-gray-medium-dark: #7884a5;
  --c-gray-medium-light: #a2acc7;
  --c-gray-light: #c9d0e1;
  --c-gray-extra-light: #f8faff;
  --c-green: #4fba67;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2.4rem;
  color: var(--c-black);
  background-color: var(--c-gray-extra-light);
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 7.2rem;
  font-weight: 700;
  line-height: 7rem;
  letter-spacing: -0.0576rem;
}

h4 {
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 2.8rem;
  letter-spacing: -0.0056rem;
}

@media (max-width: 768px) {
  html {
    font-size: 40%;
  }
}
