.main {
  padding: 12.8rem 3.2rem 9.8rem;
}

.info {
  max-width: 85.9rem;
  padding: 0 .8rem;
}

.header {
  color: var(--grey-medium-dark);
  margin-bottom: 5.4rem;
}

.description {
  margin-bottom: 5.7rem;
}